{% load static %}
<nav class="navbar bg-black navbar-dark">
    <div class="container-fluid p-0">
      <span class="navbar-brand mb-0 mx-auto h1"></span>



      <!DOCTYPE html>
      <html lang="en">
      <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css\style.css' %}">
      </head>
      <body>
        <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="footer-col">
              <h4>coma</h4>
              <ul>
                <li><a href="#">wertghj</a></li>
                <li><a href="#">fghgj</a></li>
                <li><a href="#">fghj</a></li>
                <li><a href="#">haii</a></li>
                <li><a href="#">here</a></li>
                
              </ul>
            </div>
            <div class="footer-col">
              <h4>dffghjjk</h4>
              <ul>
                <li><a href="#">eo</a></li>
                <li><a href="#">do</a></li>
                <li><a href="#">go</a></li>
                <li><a href="#">hi</a></li>
                <li><a href="#">de</a></li>
      
              </ul>
            </div>
            <div class="footer-col">
              <h4>herhjk</h4>
              <ul>
                <li><a href="#">Email Sign-up</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Fitting</a></li>
                <li><a href="#">Demos</a></li>
                <li><a href="#">Site Map</a></li>
                
                
              </ul>
            </div>
      
      
      
      
      
      
      
      
      
          </div>
        </div>
        </footer>
      </body>
      </html>
        
      


    </div>
 
</nav>



  

